@model BSIT3L_Movies.Models.MovieViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Movie</title>
</head>
<body>
    <h2>Movie Details</h2>
    <div class="card mb-3">
        <h3 class="MovieID">Title: @Model.Name</h3>
        <div class="card-body">
            <h5 class="Movietitle">@Model.Id</h5>
            <h6 class="Moviegenre">Release Year : @Model.ReleaseYear</h6>
        <div>
            <a href="@Model.movieURL">
            <img src=" @Model.ImageSource" alt="@Model.Name" width="100%" , height=" 50%">
            </a>
        </div>
        <div class="card-body">
                <p class="card-text">Sypnosis : @Model.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Genre: @Model.Genre</li>
            <li class="list-group-item">Ratings: @Model.Rating</li>
        </ul>
        <div class="movie-trailer">
            <a href="@Model.YTurl" class="Youtube-link"> Trailer link</a>
        </div>
        </div>
        </div>

</body>
</html>